<!DOCTYPE html>
<html>
  <head>
    <title>Post!!</title>
    <meta charset="utf8" />
    <style>
      .app {
        padding: 10px;
        background: #888;
        color: #fff;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <div class="app">
      <h1>Dashboard</h1>
    </div>
  </body>
</html>
