<!DOCTYPE html>
<html>
  <head>
    <title>{{ post ? 'Edit Post ' + post.id : 'Create Posts' }}</title>
    <meta charset="utf8" />
    <style>
      .app {
        padding: 10px;
        background: #888;
        color: #fff;
        border-radius: 5px;
      }

      .mb-1 {
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    <form action="{{ post ? '/posts/' + post.id + '?_method=PUT' : '/posts' }}" method="POST">
      <div class="app">
        <div class="row">
          <label for="title">Title: </label>
          <input type="text" id="title" name="title" value="{{ post ? post.title : '' }}" />
        </div>
        <div class="row">
          <label for="description">Description: </label>
          <textarea rows="5" id="description" name="description">{{
            post ? post.description : ''
          }}</textarea>
        </div>
        <div class="row">
          <button type="submit">Create</button>
        </div>
      </div>
    </form>
  </body>
</html>
