<!DOCTYPE html>
<html>
  <head>
    <title>Posts List</title>
    <meta charset="utf8" />
    <style>
      .article {
        padding: 10px;
        background: #888;
        color: #fff;
        border-radius: 5px;
      }

      .mb-1 {
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    @each(post in posts)
    <div class="article mb-1">
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
      <a href="/posts/{{ post.id }}/edit">編輯</a>
      <form
        action="/posts/{{ post.id }}?_method=DELETE"
        method="POST"
        onsubmit="return deleteCheck()"
      >
        <button type="submit">刪除</button>
      </form>
    </div>
    @end
  </body>
  <script>
    function deleteCheck() {
      return confirm('確定刪除?')
    }
  </script>
</html>
