<!DOCTYPE html>
<html>

<head>
  <title>Post!!</title>
  <meta charset="utf8">
  <style>
    .article {
      padding: 10px;
      background: #888;
      color: #fff;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="article">
    <h1> {{ post.title }}</h1>
    <p>{{ post.description }}</p>
  </div>
</body>

</html>
